

<div class="container">

    <br>
  <div class="row">

   
      <button class="btn btn-lg btn-success" (click)="open(content)"> + Import File</button>

  </div>

</div>







   


<ng-template #content let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Import a CSV file</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div class="col-md-12">
            <div class="row">
              <input class="form-control" type='file' (change)='convertFile(input)' id='fileInput' #input>
            </div>
          </div>

          <hr>
        
      <ngb-tabset>
    <ngb-tab title="Preview">
      <ng-template ngbTabContent>
        <div class="row">

            <div class="col-md-12">

                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th *ngFor="let item  of headers" scope="col">{{item}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let item of result;  let i=index " >
                        <ng-container *ngIf=" i < 100">
    
                        <td>{{item.id}}</td>
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.gender}}</td>
                        <td>{{item.ip_address}}</td>
                        
                      </ng-container>
                      
                      </tr>
                   
                    </tbody>
                  
                      </table>
    
    
            </div>

        </div>
    
  
        <div *ngIf="result.length == 0"  class="spinner-border text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
            
  
  
  
  
      </ng-template>
    </ngb-tab>
  
    <ngb-tab title="Import Data" >
      <ng-template ngbTabContent>
        <div class="row">

          <div class="col-md-12">
              <button type="button" class="btn btn-primary">Start</button>
              <p><ngb-progressbar value="10" type="info"></ngb-progressbar></p>
          </div>
         

        </div>
         
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  
  
  
  
    </div>
    <div class="modal-footer">
        <div class="col-md-6"> Preview of 100 items </div>
        <div class="col-md-6"> <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Close</button>
        </div>
      </div>
  
      
  </ng-template>